.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-color: #ffffff;
  }
  
  .spinner {
    border: 8px solid #d9d9d9; 
    border-top: 8px solid #3c6e71; 
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite; 
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  