.reviewCard {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 1.5rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    transition: transform 0.2s ease;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.reviewCard:hover{
   transform: translateY(-3px);
}
.reviewHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.8rem;
}

.reviewerName {
  font-size: 1.1rem;
  font-weight: 600;
  color: #284b63;
}

.rating {
  font-size: 1rem;
  color: #3c6e71;
}

.star {
  color: #d9d9d9;
  margin-right: 2px;
}

.filledStar {
  color: #3c6e71;
}

.reviewText {
  font-size: 0.95rem;
  color: #131313;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 1rem;
}
