.Search {
    background-color: #f5f5f5;
    min-height: 100vh;
}
.searchHead {
    padding: 2rem;
    background-color: #fff;
}
.Search h1 {
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    color: #333;
    margin-bottom: 30px;
}